// Cookies policy

.home-end{
    height: 40vh;
    background-color: lighten($primary-color,20);
    background-image: url('../images/hp_background_2020_2.jpg');
    background-size: cover;
    background-position: center center;
}

footer{
    padding: 20px 10px 40px 0;
    background-color: $primary-color;
    color: $white;
    font-family: $header-font-family;
    .social-footer{
        float: right;
        margin-right: 10px;
        .social-icons {
            a{
                border-style: none;
            }
        }
    }
    .hotel{
        .row{
            padding: 10px;
        }
        margin-bottom: 1em;
    }
    .button{
        border: 1px solid $white;
    }
    a.visit{
        color: $white;
        &:hover{
            color: $white;
            text-decoration: underline;
        }
    }
    .logos{
        margin-bottom: 2em;
        text-align: center;
        .embedded-entity{
            display: inline-block;
            margin: 10px;
        }
    }
}
.eu-cookie-compliance-banner{
    padding: 20px 0 0 0;
    background-color: $primary-color;
    color: $white;

    button{
        font-family: $header-font-family;
        margin: 20px 0 35px 0;
        padding: 11px 16px;
        transition: all .3s linear;
        display: inline-block;
        border: 3px solid $white;
        color: $white;
        &.decline-button{
            background: darken($primary-color, 3);
            box-shadow: none;
            text-shadow: none;
            border-width: 2px;
        }
    }
}