body{
    background-color: $primary-color;
}
#wrapper{
    background-color: $white;
}
#content{
    padding: 10px;
}
.home-first{
    position: relative;
    height: 100vh;
    background-image: url('../images/hp_background_1.jpg');
    background-size: cover;
    background-position: center;
    .home-title{
        text-indent: -4000px;
        margin-top: 2vh;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: left;
        height: 25vh;
        background-image: url('../logo.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }
}
.zone2{
    background: $light-gray;
}
.primary{
    color: $primary-color;
}
.secondary{
    color: $secondary-color;
}
.em-small{
    font-family: $header-font-family;
}
.em-medium{
    font-family: $header-font-family;
    font-size: 1.1em;
}
.em-big{
    font-family: $header-font-family;
    font-size: 1.3em;
}
.section{
    padding: 100px 0 5em 0; 
}

#home-zone{
    color: $white;
    font-family: $header-font-family;
    font-size: 1.4em;
    text-align: center;
    margin-right: 10px;
    p{
        position: absolute;
        bottom: 30px;
        width: 100%;
        .place, .date{
            color: $secondary-color;
            display: inline-block;
            background: rgba($primary-color, .9);
            padding: 3px 15px 3px 15px;
            margin: 5px;
        }
    }
}

/* Categories colors */

$categories-colors: (
    4: #d8de50,
    24: #87c8c4,
    7: #8abf56,
    10: #b5588b,
    8: #d2733a,
    9: #9e415a,
    5: #3d5b97,
    23: #5ab698,
    6: #5ab698,
    11: #812840
);
.views-element-container{
    @each $cat-col-key, $cat-col in $categories-colors {
        .type-#{$cat-col-key} {
            background-color: lighten($cat-col, 25%);
        }
        .linked .type-#{$cat-col-key} {
            &:hover{
                background-color: lighten($cat-col, 20%);
            }
        }
    }
}
.field_type{
    @each $cat-col-key, $cat-col in $categories-colors {
        &.label-type-#{$cat-col-key} {
            background-color: lighten($cat-col, 25%);
        }
    }
}

/** Homepage teasers **/

.home-teaser{
    article{
        background-color: $white;
        a{
            color: $black;
            transition-duration: 0.5s;
            &:hover, &:focus{
                opacity: 0.7;
            }
        }
        .content{
            padding: 2.5em 2em 2.5em 2em;
        }
    }
    margin-bottom: 2em;
}

/** end Homepage teasers **/

/* Infos pratiques */
.block-infospratiques{
    //border: 1px solid $primary-color;
    padding: 2em;
    margin: 10px;
    ul{
        list-style: none;
        list-style-type: none;
    }
}
/* end infos pratiques */

/* views filters */
.views-exposed-form{
    background: $primary-color;
    font-family: $header-font-family;
    padding: 20px 20px 15px 20px;
    margin-bottom: 1em;
    label{
        color: $white;
        font-size: 1.1em;
    }
    .button{
        background-color: $secondary-color;
        margin: 0;
        &:hover, &:focus{
            background-color: darken($secondary-color, 5%);
        }
    }
}
/* end views filters */

/* Views */
.views-element-container{
    header{
        font-family: $header-font-family;
        margin-bottom: 1em;
    }
    h2{
        color: $secondary-color;
        display: inline-block;
        background: $primary-color;
        padding: 3px 8px 3px 8px;
        margin: 15px 0 30px 0;
    }
    a{
        color: $black;
    }
    .activite, .activite-scolaire{
        margin-bottom: 1em;
    }
    .intervenants{
        font-style: italic;
    }
    
    .time{
        font-family: $header-font-family;
        text-align: center;
        font-size: 1.3em;
    }
    p{
        margin-bottom: 0;
    }
    .button{
        margin-top:15px;
    }
    .field_stand{
        text-align: right;
        padding-right: 10px;
    }
    .exposant{
        article{
            padding-top: 10px;
            border: 4px solid $white;
        }
    }
}
.path-activites{
    .views-element-container{
        a.linked{
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            display: block;
            background: $secondary-color;
            &:hover{
                background: darken($secondary-color, 3);
            }
        }
    }
}

.path-exposants{
    .views-element-container{
        a.linked{
            article{
                padding: 10px;
                text-align: right;
                .button{
                    margin: 0 10px 0 0;
                }
                h3{
                    text-align: left;
                }
            }
        }
    }
}

/* end Views */

/* Multiple contents */
.path-node {
    .top-info{
        padding: 15px 0 15px 0;
    }
    .schedule, .field_lieu, .field_lieu_autre{
        display: inline-block;
        font-family: $header-font-family;
        background: $primary-color;
        color: $white;
        font-size: 1.2em;
        padding: 1px 10px 1px 10px;
        margin-bottom: 5px;
        a{
            color: $white;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }

    .intervenants{
        font-style: italic;
    }
}

/* End multiple contents */

/* Exposant detail */
.node--type-exposant{
    .field_type{
        display: inline-block;
        padding: 5px;
        font-family: $header-font-family;
    }
}

/* End exposant detail */

/* Activite detail */
.node--type-activite{
    .field_heure{
        display: inline;
    }
}


/* End Activite detail */

@include breakpoint(medium up){
    .home-first{
        .home-title{
            margin-right: 1em;
            margin-bottom: 1em;
            height: 30vh;
        }
    }
    #home-zone{
        font-size: 1.5em;
        margin-right: 2em;
        text-align: right;
        p{
            position: relative;
        }
    }
    .em-medium{
        font-family: $header-font-family;
        font-size: 1.3em;
    }
    .em-big{
        font-family: $header-font-family;
        font-size: 1.7em;
    }
    .block-infospratiques{
        box-shadow: 0px 0px 15px -8px rgba($black,0.49);
    }
    .home-teaser{
        article{
            h3{
                font-size: 1.4em;
            }
            box-shadow: 0px 0px 15px -8px rgba($black,0.49);
            .content{
                .body{
                    min-height: 160px;
                }
            }
        }
    }
    .views-element-container{
        header{
            font-size: 1.2em;
        }
        .exposant{
            article{
                height: 8em;
            }
        }
    }
    .field_stand{
        margin-top: 10px;
        color: $primary-color;
        font-family: $header-font-family;
        font-size: 1.2em;
    }
    .path-node {
        .top-info{
            text-align: right;
        }
        .schedule, .field_lieu, .field_lieu_autre{
            font-size: 1.3em;
        }
    }
    .path-exposants{
        .views-element-container{
            h3{
                margin-top: 10px;
                font-size: 1.3em;
            }
            a.linked{
                article{
                    h3{
                        margin-top: 0;
                    }
                    .field_stand{
                        margin-top: 0;
                    }
                    position: relative;
                    .button{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }
}

@include breakpoint(large up){
    #home-zone{
        font-size: 1.8em;
    }
    .home-teaser{
        article{
            h3{
                font-size: 1.7em;
            }
        }
    }
}