     <div class="inline field_heure">{{ fields.field_heure.content }}</div>
    {% if row._entity.field_auteur.0.value %}
    <h3 class="inline">{{ fields.field_auteur.content }}</h3>
    {% endif %}
    {% if row._entity.body.value is not empty %}
    <div class="inline body">{{ fields.body.content }}</div>
    {% endif %}